article{
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}

html{
  font-size: 10px;
}

.nanum{
  font-family: NanumSquare;
  color: rgb(112 112 112);
}

ul li {
  list-style: outside;
  margin-left: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  list-style-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/square.png);
  font-size: 1.3rem;
  line-height: 1.5;
  list-style-position: outside;
}

.header_container{
  margin: auto;
  width: 30rem;
  min-height: 37rem;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  object-fit: contain;
  /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/start_background.png); */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex: 1;
}

.header{
  margin: 0 auto;
  min-width: 10rem;
  font-family: yoon_dokripregular;
  font-size: 3.5rem;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  flex: 1 0 auto;
  font-family: yoon_dokripregular;
  text-align: left;
}

.header2{
  margin: 0 auto;
  font-family: yoon_dokripregular;
  font-size: 1.6rem;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  flex: 1 0 auto;
  margin-left: 10%;
  margin-bottom: 80%;
  min-width: 20rem;
  color: #000000
  font-family: yoon_dokripregular;
  text-align: left;
}

.middle{
  width: 50%;
  margin: auto;
}

.loading-container{
  margin: auto;
  width: 30rem;
  min-height: 37rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/question_background.png); */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0;
}

.header-loading{
  min-width: 10rem;
  font-family: yoon_dokripregular;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  margin-left: 7rem;
  color: #000000;
}

.header2-loading{
  margin: 0 auto;
  font-family: yoon_dokripregular;
  font-size: 1.6rem;
  line-height: 1.13;
  margin-left: 11rem;
  margin-top: -3rem;
  letter-spacing: normal;
  text-align: left;
  min-width: 20rem;
  color: #000000;
}

.header3-loading{
  align-self: center;
  font-family: yoon_dokripregular;
  font-size: 2.5rem;
  line-height: 1.13;
  letter-spacing: normal;
  color: #000000;
}

.loading1{
  font-size: 3.7rem;
}

.loading2{
  font-size: 1.5rem;
}

.loading3{
  font-size: 2.5rem;
}

.godori_container{
  align-self: center;
  width: auto;
  height: auto;
  margin-bottom: -4rem;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
}

#godori{
  object-fit: contain;
  width: 15rem;
  align-self: center;
}

#godori_age{
  font-family: yoon_dokripregular;
  font-size: 1.4rem;
  text-align: right;
  width: 10rem;
  margin-top: -2rem;
  margin-left: 19rem;
  color: #000000;
}

#start{
  font-family: yoon_dokripregular;
  font-size: 3rem;
  align-self: center;
  border: 0px;
  color: black;
  width: 18rem;
  height: 6rem;
  /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/start_btn_background.png); */
  background-size: 18rem auto;
  background-repeat: no-repeat;
  background-color: transparent;
}

.btn{
  font-family: yoon_dokripregular;
  font-size: 1.8rem;
  align-self: center;
  border: 0px;
  color: black;
  width: 28.5rem;
  height: 8.0rem;
  object-fit: contain;
  /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/start_btn_background.png); */
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1.17;
  letter-spacing: -0.6px;
  color: #000000;
  z-index: 1;
}

.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
    color: black;
    background-color: transparent;
}

.question_text{
  margin: 0 auto;
  margin-bottom: -2rem;
  display: table;
  width: 30rem;
  min-height: 37rem;
  padding: 4rem;
  padding-top: 7rem;
  object-fit: contain;
  align-items: center;
  vertical-align: middle;
  /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/question_background.png); */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

#title{
  display: table-cell;
  font-size: 2.3rem;
  line-height: 1.14;
  letter-spacing: normal;
  vertical-align: middle;
}

#count{
  display: table-row;
  height: 3rem;
  font-size: 1.5rem;
  color: #8e8e8e;
  line-height: 1.17;
  letter-spacing: 0.2rem;;
}

.progress-bar{
  position: absolute;
  width: calc(100/12 * 1%);
  min-height: 1.6rem;
  align-self: center;
  background-color: rgb(227 30 10);
  border-radius: 70px 70px 70px 70px;
}

.progress{
  position: relative;
  width: 30rem;
  align-self: center;
  min-height: 1.58rem;
  border-radius: 70px 70px 70px 70px;
  background-color: rgb(249 246 246);
  -webkit-box-shadow: 0px 1px 1px 1px #cccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 1px 1px 1px #cccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 1.7px 3px 1px #cccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.progress-container{
  position: relative;
  width: auto;
  vertical-align: middle;
  margin: 0 auto;
}


#progressbar_card{
  position: absolute;
  bottom: -1rem;
  right: -0.7rem;
  display: none;
  visibility: hidden;
  width: 3.0rem;
  z-index: 1;
  object-fit: contain;
  animation: fadeIn 0.3s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
      visibility: visible;
      opacity: 0;
  }
  to {
      visibility: visible;
      opacity: 1;
  }
}

.progress-loading {
  min-height: 1.6rem;
  background-color: rgb(227 30 10);
  border-radius: 70px 70px 70px 70px;
  width: 100%;
  animation: progressbar 2s ease-out;
}

/* animation */
@keyframes progressbar {
  0%  {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.loading{
  display: none;
}

.copy{
  display: flex;
  margin-top: 1rem;
  margin-bottom: -3rem;
  width: 30rem;
  align-self: center;
  justify-content: space-around;
}

a:hover, a:visited, a:link, a:focus, a:active {
    color: #000;
}

.copy-btn{
  font-size: 1.7rem;
  font-family: yoon_dokripregular;
  align-self: center;
  border: 0px;
  color: black;
  width: 18rem;
  height: 6rem;
  object-fit: contain;
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/share_btn_background.png); */
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
}

.again{
  font-size: 1.7rem;
  font-family: yoon_dokripregular;
  align-self: center;
  vertical-align: middle;
  border: 0px;
  color: black;
  width: 18rem;
  height: 6rem;
  object-fit: contain;
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/share_btn_background.png); */
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
}

.hwatoo{
  font-size: 2rem;
  line-height: 1.2;
  font-family: yoon_dokripregular;
  align-self: center;
  border: 0px;
  color: black;
  width: 30rem;
  height: 10rem;
  object-fit: contain;
  background-size: 100% 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/hwatoo_btn_background.png); */
  background-repeat: no-repeat;
  background-position: center;
}

.card{
  width: 15%;
  opacity: 0;
  background-color: transparent;
  border: 0px;
  object-fit: contain;
  position: absolute;
}

#card1{
  width: 9rem;
  right: 12rem;
  top: 2rem;
}

#card2{
  width: 8.5rem;
  right: 10.5rem;
  top: 0.2rem;
}

#card3{
  width: 6.5rem;
  right: 8.5rem;
  top: 0.5rem;
}

#card4{
  width: 8.7rem;
  right: 5rem;
  top: -0.8rem;
}

.cards{
  position: absolute;
  width: 30rem;
  margin-left: 3.5rem;
  text-align: center;
}

#count{
  color: rgb(142 142 142);
}

.question{
    display: none;
    font-family: yoon_dokripregular;
    min-height: 30rem;
}

#A{
  margin-bottom: -2rem;
}

.result{
    display: none;
}

.result_container{
    width: 95%;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
    align-self: center;
    /* background-image: url(https://cdn.jsdelivr.net/gh/skychoi1010/hwatoo/src/result_background.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    margin-bottom: -2.5rem;
}

.result_animal_img{
  width: 13rem;
}

#you{
  line-height: 1.17;
  letter-spacing: -0.11px;
  text-align: left;
  color: #707070;
  font-size: 1.4rem;
}

#animal_pre{
  padding-top: 2rem;
  margin-bottom: -5.5rem;
  font-size: 1.2rem;
  line-height: 1.14;
  text-align: center;
  color: #707070;
}

#animal{
  font-size: 2.3rem;
  padding-left: 15%;
  padding-right: 15%;
}

#you_are{
  margin: 0 auto;
  font-size: 2.1rem;
  margin-bottom: -2rem;
}

.animal_exp{
  padding-top: 3rem;
  font-size: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0;
  margin-bottom: -1rem;
}

#row_container{
  margin-top: 3rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.animal .friend{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 1;
}

.animal .enemy{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 1;
}

#animal_3, #animal_4{
  margin: 0 auto;
  margin-top: -3rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.result{
  font-family: yoon_dokripregular;
  align-content: center;
}

.friend_header, .enemy_header{
  margin-bottom: -1rem;
  font-size: 1.7rem;
}

#img_friend, #img_enemy{
  width: 11rem;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: -2rem;
}

#img{
  width: 15rem;
  height: auto;
  margin: 0 auto;
  display: block;
}

#share{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#tree_right{
  width: 27%;
  min-width: 15rem;
  margin: 0 auto;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 6.5rem;
}

#tree_left{
  width: 30%;
  min-width: 18rem;
  margin: 0 auto;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 5rem;
}

.kakao_ad{
    width: 320px;
    margin: 0 auto;
}

.banner{
    display: flex;
    justify-content: center;
    width: 30rem;
    margin: 0 auto;
}

.banner-container{
    display: flex;
    justify-content: center;
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
}

.banner_img{
    width: 30rem;
}
